{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'core/_starexboard/js/admin.js' %}" defer></script>
{% endblock %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}
        <div class="actions-on-top clearfix mb-2">{% admin_actions %}</div>
    {% endif %}
    {% result_list cl %}
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}